/* CSS Document */

body{
    background-image: url("images/Elegant_Background-4.jpg");
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;

}

.container{
	width:80%;
	max-width:900px;
	min-width:300px;
	background:#D5D48E;
	margin:0 auto;
	border: 1px solid #234D8F;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
nav li a:hover {
  background-color: #111;
}







header {
    top: 0px;
    background-color: #7A6B04;
    font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
}

footer {
    clear:both;
	position:relative;
	background-color: #7A6B04;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	bottom: 0px;
}



